<form (ngSubmit)="myForm.valid && onSubmit()" #myForm="ngForm">
    <fieldset>
        <label for="login">Utilisateur</label> 
        <input type="text" id="login" name="login" placeholder="Utilisateur" [(ngModel)]="login" #loginForm="ngModel" required />
    </fieldset>

    <div *ngIf="loginForm.errors">
        <span *ngIf="loginForm.errors?.['required']">Le login est requis</span>
    </div>
  
    <fieldset>
        <label for="password">Password</label> 
        <input type="text" id="password" name="password" placeholder="Utilisateur" [(ngModel)]="password" #passwordForm="ngModel" required minlength="8" />
    </fieldset>

    <div *ngIf="passwordForm.errors">
        <span *ngIf="passwordForm.errors?.['required']">Le prénom est requis</span>
        <span *ngIf="passwordForm.errors?.['minlength']">La longueur minimale doit être supérieure à 8</span>
    </div>
    
    <button [disabled]="myForm.invalid" type="submit">Login</button>

</form>

