form {
    display: flex;
    flex-direction: column;

}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 50%;
    border: none;
}

span {
    color: red;
    font-weight: bold;
}

button {
    margin-top: 5%;
    width: 10%;
}

input.ng-invalid.ng-touched.ng-dirty {
    border: solid 2px red;
    background-color: rgba(255, 0, 0, 0.1);
}
